* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Great Vibes', cursive;
    --text-font: 'Source Sans Pro', sans-serif;
    --main-color: #4C0013;
    --text-color: #FFF4F4;
    --text-subcolor: black;
}

.container-navbar {
    display: flex;
    background-color: var(--main-color);
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
}

.title-nav {
    font-family: var(--main-font);
    font-size: 3vw;
    padding: 0.5vw 0vw 0.5vw 3vw;
}

.list-nav {
    display: flex;
    font-family: var(--text-font);
    padding: 0vw 0vw 0vw 5vw;
    font-size: medium;
    font-weight: 200px;
}

.list-nav a {
    color: var(--text-color);
}

.nav,.nav2 {
    padding: 0vw 3vw 0vw 3vw
}

.nav2 {
    border-right: solid 1px var(--text-color);
    border-left: solid 1px var(--text-color);
}


.slider-frame {
	width: 100%;
    height: 100%;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	width: 500%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	15% {margin-left: 0;}
	
	20% {margin-left: -100%;}
	35% {margin-left: -100%;}
	
	40% {margin-left: -200%;}
	55% {margin-left: -200%;}
	
	60% {margin-left: -300%;}
	75% {margin-left: -300%;}

    80% {margin-left: -400%;}
	100% {margin-left: -400%;}
}

.container-chef{
    display: flex;
    flex-direction: row;
    background-color: #f9d99a;
    align-items: center;
}

.chef-title, .about-us > h1{
    font-family: var(--main-font);
    text-align: center;
    font-size: 4vw;
}

.chef-text, .about-us > p{
    font-family: var(--text-font);
    text-align: center;
    margin: auto 2vw auto 2vw;
}

.about-us{
    background-color: #feeeb8;
}

.about-us > h1{
    padding: 1vw auto 1vw;
}



/* SECCION FOOTER */
.container-footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 200px;
    background-color: #FFF4F4
   /*  margin: 30vw 1vw auto 1vw */;
}

.title {
    font-family: var(--main-font);
    font-size: 3rem;
    color: var(--text-color);
    text-align: center;
    /* width: 50%; */
    width:100%;
   /*  padding: 5%; */
   padding-top: 80px;
    /* margin: auto; */
}

.container-title2 {
    width: 33%;
    background-color: var(--main-color);
}

.container-info {
    font-family: var(--text-font);
    font-size: 1.3vw;
    width: 33%;
    text-align: center;
    border-right: 1px solid var(--main-color);
    font-weight: 400;
}

.mail {
    color: var(--text-subcolor);
    font-family: var(--text-font);
}

.icons {
    margin-top: 1vw;
    font-size: 2vw;
    color: var(--text-subcolor);
}

.container-icons {
    text-align: center;
    font-size: 1.5vw;
    width: 33%;
    justify-content: space-around;
    padding-top: 2vw;
}

.dir {
    font-weight: bold;
}

.copyright {
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
}

.contact {
    font-weight: bold;
    font-family: var(--text-font);
}

/* SECCION CARTA */
.title-cart {
    padding: 3vw 0vw 0vw 2vw;
    font-family: var(--main-font);
    text-align: center;
    font-size: 3rem;
    background-color: #FFF4F4;
}
.title-cart:before{
    width: 100%;
    content: "";
    height: 1px;
    background-color: var(--text-subcolor);
}
/* .cart-line{
    background-color: var(--text-subcolor);
    width: 15rem;
    height: 1.2px;
    margin-left: 30em;
} */

.container-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--text-font);
    font-weight: 700;
    color: var(--text-subcolor);
    background-color: #FFF4F4;
}

.container-food {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-card {
    height:0.1px;
    background-color: var(--text-color);
    width: 10rem;
    color: var(--text-color);
    margin-left: 12.4rem;
} 

 .container-food-img {
    width: 85%;
    height: auto;
    margin-top: 3vw; 
    border: 1.4px solid var(--main-color);
    padding: 1vw 1vw 1vw 1vw;
    position: relative;
   /*  padding: 0rem 0rem 1.2rem 0rem; */
    text-align: center;
}
 
.container-food-img img {
    width: 100%;
}

.container-food-img .container-shadow{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s;
}

.container-food-img .container-shadow:hover{
    opacity: 1;
}
.container-food-img .container-shadow > *{
    transform: translateY(2rem);
    transition: transform 0.25s;
    width: 100%;
}

.container-food-img .container-shadow:hover >* {
    transform: translateY(0rem);
    width: 100%;
}

.container-food-img h2{
    color:var(--text-color);
}

.food-title {
    padding: 1vw 0vw 0vw 0vw;
    /* font-weight: bolder; */
    font-family: var(--main-font);
    font-size: 45px;
}

.view-more a{
    color: var(--text-color);
}

/* DESCRIPCION DE PLATOS */
section{
    background-color: #FFF4F4;
}
.container-options{
    background-color: var(--main-color);
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--text-font);
    color:var(--text-color);
    padding: 1vw 2vw 1vw 2vw;
}

.title-price{
    display:flex;
    justify-content:space-between;
   font-weight: 400; 
       /* font-size: 1.2vw; */
    border-bottom: 1px solid var(--text-color);
}
.title-price h3{
    font-weight:400;
}

.container-cart1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.container-time-diet{
    border: 1px solid var(--main-color);
    font-size: 1.2vw;
    font-family: var(--text-font);
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    text-align: center;
    padding: 1px 0px 1px 0px;
}

.time{
    font-weight: bolder;
    text-align: center;
}

.description-food{
    font-weight: lighter;
    font-size: 1vw;
}
/* SECCION FAQ */

.container-FAQ{
    padding: 3vw 0vw 0vw 2vw;
    font-family: var(--text-font);
    text-align: center;
    font-size: 1.7rem;
    background-color: #FFF4F4;

}


