* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Great Vibes', cursive;
    --text-font: 'Source Sans Pro', sans-serif;
    --main-color: #4C0013;
    --text-color: white;
    --text-subcolor: black;
}

/* NAV + MENU HAMBURGUESA */
.nav-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 0 0.4rem;
}

.title-nav {
    font-family: var(--main-font);
    font-size: 2.3rem;
    padding: 0.5vw 0vw 0.5vw 3vw;
    color: var(--text-color)
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: var(--text-color);
    z-index: 100;
}

.main-nav.show {
    margin-left: 0;
}

.list-nav {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.link-item {
    font-family: var(--text-font);
    margin-top: 2rem;
    color: var(--text-color);
    text-decoration: none;
    position: relative;

}

.link-item::after {
    position: absolute;
    content: "";
    background-color: var(--text-color);
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: 0.3s ease all;
}

.link-item:hover::after {
    width: 100%;
}

.button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--text-color);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
}

.button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
    display: none;
}

@media screen and (min-width: 768px) {
    .button-menu {
        display: none;
    }

    .title-nav {
        flex-basis: 30%;
    }

    .main-nav {
        position: static;
        margin-left: 0;
        flex-basis: 70%;
        height: 100%;
    }

    .list-nav {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        background: var(--main-color);
    }

    .link-item {
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;
    }
    
    

}


    

/* CARROUSEL */

.slider-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    width: 500%;

    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}

/* CONTENIDO INDEX*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 25px;
    padding: 0vw 0vw 0vw 4vw;
}

.chef-title, .about-title, .place-title {
    font-family: var(--main-font);
    text-align: center;
    font-size: 2.5rem;
}

.chef-text, .about-text, .place-text {
    font-family: var(--text-font);
    text-align: center;
    margin: auto 2vw auto 2vw;
    font-size: 15px;
}

/* ABOUT US */
.about-grid {
    grid-column: 1 / span2;
    padding-top: 10px;
}

.about-title {
    padding-top: 1rem;
}

.about-text {
    margin-top: 3vw;
    text-align: center;
    font-family: var(--text-font);
}

/* BOTON INDEX */
.button-cart {
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    font-family: var(--text-font);
    font-size: 15.2px;
    padding: 10px;
    width: 14vw;
    height: 3vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.8vw 10vw;

    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-cart a {
    color: var(--main-color);
    font-weight: bold;
}

.button-cart:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 2;
    right: -10px;
    transition: 0.2s;
    /* margin-top: 0.3vw; */
}

.button-cart:hover {
    padding-right: 20px;
    background-color: var(--main-color);
    color: var(--text-color)
}

.button-cart:hover a {
    color: var(--text-color)
}

.button-cart:hover:after {
    opacity: 1;
    right: 8px;
    align-items: center;
}

.about-img {
    grid-column: 2;
    grid-row: 2 / span 2;
    /* padding-left: 5vw; */
}

.about-img>img {
    height: 93%;
    width: 96%;
    border: 1.4px solid var(--main-color);
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}

/* PLACE */
.place-img {
    grid-column: 1;
    grid-row: 3 / span 2;
    padding: 0vw 3vw 0vw 2vw;
}

.place-img>img {
    height: 94%;
    width: 100%;
    border: 1.4px solid var(--main-color);
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}

.place-grid {
    grid-column: 2;
    grid-row: 4;
}

/* CHEF */
.chef-grid {
    grid-column: 1;
    grid-row: 5;
    padding-top: 3vw;
}

.chef-flex, .about-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chef-img {
    grid-column: 2;
    grid-row: 5;
    padding-top: 3vw;
    height: fit-content;
}

.chef-img>img {
    height: 80%;
    width: 95%;
    border: 1.4px solid var(--main-color);
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
}

/* SECCION FOOTER */
.container-footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 200px;
    background-color: var(--text-color)
        /*  margin: 30vw 1vw auto 1vw */
    ;
}



.title {
    font-family: var(--main-font);
    font-size: 3rem;
    color: var(--text-color);
    text-align: center;
    /* width: 50%; */
    width: 100%;
    /*  padding: 5%; */
    padding-top: 80px;
    /* margin: auto; */
}



.container-title2 {
    width: 33%;
    background-color: var(--main-color);
}

.container-info {
    font-family: var(--text-font);
    font-size: 15px;
    width: 33%;
    text-align: center;
    border-right: 1px solid var(--main-color);
    font-weight: 400;
}

.mail {
    color: var(--text-subcolor);
    font-family: var(--text-font);
}

.icons {
    margin-top: 1vw;
    font-size: 1.5rem;
    color: var(--text-subcolor);
}

.container-icons {
    text-align: center;
    font-size: 15px;
    width: 33%;
    justify-content: space-around;
    padding-top: 2vw;
}

.dir {
    font-weight: bold;
}

.copyright {
    color: black;
    text-align: center;
}

.contact {
    font-weight: bold;
    font-family: var(--text-font);
}

@media screen and (max-width: 768px)  {
    
    .container-footer{
        flex-direction: column;
    }

    .container-footer>div{
        width: 100%;
        height: 100%;
    }

    footer{
        margin: auto;   
    }

    .grid{
        display: flex;
        flex-direction: column;
    }

    .title{
        padding-top: 40px;
        padding-bottom: 40px;
    }

} 

/* SECCION CARTA */
.title-cart {
    padding: 3vw 0vw 0vw 2vw;
    font-family: var(--main-font);
    text-align: center;
    font-size: 3rem;
    background-color: var(--text-color);
}

.title-cart:before {
    width: 100%;
    content: "";
    height: 1px;
    background-color: var(--text-subcolor);
}

.container-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--text-font);
    font-weight: 700;
    color: var(--text-subcolor);
    background-color: var(--text-color);
}

.container-food {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-card {
    height: 0.1px;
    background-color: var(--text-color);
    width: 10rem;
    color: var(--text-color);
    margin-left: 12.4rem;
}

.container-food-img {
    width: 85%;
    height: auto;
    margin-top: 3vw;
    border: 1.4px solid var(--main-color);
    border-radius: 20px;
    padding: 1vw 1vw 1vw 1vw;
    position: relative;
    /*  padding: 0rem 0rem 1.2rem 0rem; */
    text-align: center;
}

.container-food-img img {
    width: 100%;
}

.container-food-img, .container-shadow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s;
}

.container-food-img .container-shadow:hover {
    opacity: 1;
}

.container-food-img .container-shadow>* {
    transform: translateY(2rem);
    transition: transform 0.25s;
    width: 100%;
}

.container-food-img .container-shadow:hover>* {
    transform: translateY(0rem);
    width: 100%;
}

.container-food-img h2 {
    color: var(--text-color);
}

.food-title {
    padding: 0vw 0vw 0vw 0vw;
    font-family: var(--main-font);
    font-size: 45px;
}

.view-more a {
    color: var(--text-color);
}

/* DESCRIPCION DE PLATOS */
section {
    background-color: var(--text-color);
}

.container-options {
    background-color: var(--main-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--text-color);
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 5px;
}

.title-price {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    border-bottom: 1px solid var(--text-color);
}

.container-cart1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.container-time-diet {
    border: 1px solid var(--main-color);
    font-size: 15px;
    font-family: var(--text-font);
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    text-align: center;
    padding: 1px 0px 1px 0px;
}

.time {
    font-weight: bolder;
    text-align: center;
}

.description-food {
    font-weight: lighter;
    font-size: 1vw;
}

/* SECCION FAQ */
.container-FAQ {
    padding: 3vw 0vw 0vw 2vw;
    font-family: var(--text-font);
    text-align: center;
    font-size: 1rem;
    background-color: var(--text-color);
}

.acordeon {
    max-width: 70em;
    padding: 0.5em;
    margin-left: 22%;
    margin-right: 22%;
}

.bloque {
    align-items: center;
    margin: 0 0 1em;
    padding: 0.5em;
    border: 1px solid var(--main-color);
}

.h3 {
    padding: 0.1em;
    cursor: pointer;
    cursor: hand;
}

.h3:hover {
    background-color: var(--main-color);
    color: var(--text-color)
}

.contenido {
    background-color: var(--main-color);
    color: var(--text-color);
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all .5s ease;
}

.bloque.activo .contenido {
    height: auto;
}

/* SECCION RESERVATION */

.container-reservation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
    color: var(--text-subcolor);
    font-family: var(--text-font);
    text-align: center;
    font-size: 1.7rem;
    background-color: var(--text-color);
}

.container-text {
    display: flex;
    flex-direction: row;
    align-items:center;
}

h5.text-title {
    font-family: var(--main-font);
    text-align: center;
    font-size: 2.5rem;
    padding: 1vw;
}

p.reservas-text {
    font-family: var(--text-font);
    text-align: center;
    padding: 3vw;
    font-size: 1.2vw;
}

.container-form, form {
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    justify-content: center;

}

.input-group,.apDes {
    background-color: #4C0013;
    font-family: var(--text-font);
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 2vw 1vw;
    width: 70%;
    
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.title-cart {
    text-align: center;
}
